<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create/Edit Course</title>
</head>
<body>
<h2 th:text="${#strings.isEmpty(course.id) ? 'Create Course' : 'Edit Course'}"></h2>

<form th:action="@{${#strings.isEmpty(course.id) ? '/courses' : '/courses/update/' + course.id}}" th:object="${course}" method="post">
    <label>Title:</label>
    <input type="text" th:field="*{title}"/><br/>

    <label>Description:</label>
    <textarea th:field="*{description}"></textarea><br/>

    <button type="submit">Submit</button>
</form>

<a th:href="@{/}">Back to Home</a>
</body>
</html>
