<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title th:text="${course.id} != null ? 'Edit Course' : 'New Course'"></title></head>
<body>
<h2 th:text="${course.id} != null ? 'Edit Course' : 'Add New Course'"></h2>
<form th:action="@{${course.id} != null ? '/courses/update/' + ${course.id} : '/courses'}" th:object="${course}" method="post">
    <p>Title: <input type="text" th:field="*{title}" required/></p>
    <p>Description: <textarea th:field="*{description}"></textarea></p>
    <button type="submit"> Save</button>
</form>
<p><a th:href="@{/courses}">Back to Course List</a></p>
</body>
</html>