<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>University Portal</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1>Welcome to the University Portal</h1>

<div th:if="${isAuthenticated}">
    <p>Hello, <b th:text="${username}">User</b>!</p>
    <p>Your role: <b th:text="${role}">Role</b></p>

    <ul>
        <li><a th:href="@{/courses}">View Courses</a></li>

        <li th:if="${role == 'admin'}">
            <a th:href="@{/courses/new}">Create Course</a>
        </li>

        <li th:if="${role == 'admin'}">
            <a th:href="@{/admin/users-ui}"> Manage Users</a>
        </li>

        <li th:if="${role == 'admin' or role == 'professor'}">
            <a th:href="@{/students}">Manage Students</a>
        </li>

        <li><a th:href="@{/logout}">Logout</a></li>
    </ul>

</div>

<div th:unless="${isAuthenticated}">
    <p>Please <a th:href="@{/login}">login</a> to access the system.</p>
</div>
</body>
</html>
